.navbar {
  width: 100%;
  height: 70px;
  background-color: white;
  color: black;
  padding: 0 20px;
  position: fixed;
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

.navbar-logo {
  height: 50px;
  width: auto;
  margin-left: 104px;
  margin-right: 130px;
}

.navbar-menu { 
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 80px;
}

.navbar-menu ul li {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 0.2s ease;
}

.navbar-menu ul li:hover {
  color: #57606f;
}

.navbar-menu ul li a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  gap: 6px; /* espaço entre ícone e texto */
  font-size: 18px;
}

.navbar-menu ul li a:hover {
  color: #57606f;
}
