.botoes {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    height: 100vh
}

.botoes button {
    padding: 26px 30px;
    border: none;
    border-radius: 8px;
    font-size: 70px;
    background-color: rgb(65, 65, 65);
    color: white;
    transition: all 0.3s ease; 
}

.botoes button:hover {
    transform: scale(1.1);
    background-color: rgb(27, 27, 27);
}

.logoetec {
    height: 100px;
    width: 200px;
}