body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #bdd8e9, #7bbde8);
}

.relatorio-container {
  margin-left: 243px;
  padding-left: 70px;
  padding-top: 90px;
  padding-right: 90px;
  background: transparent;
  flex: 1;
}
.relatorio-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.relatorio-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* background:  #7bbde8; */
  /* font-family: Arial, sans-serif; */
}


.relatorio-header h2 {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}

.filtros-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.campo {
  display: flex;
  flex-direction: column;
  width: 220px;
}

.campo label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #072355;
}

.campo input,
.campo select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  /* transition: border-color 0.3s; */
}

.campo input:focus,
.campo select:focus {
  border-color: #7bbde8;
}


.btn-pesquisar {
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  background-color: #7bbde8;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin-top: 22px;
  transition: background 0.3s;
}

.btn-pesquisar:hover {
  background-color: #5ca9da;
}


.tabela-container {
  width: 100%;
  max-height: 500px;
  overflow-y: auto;
  border-radius: 8px;
  border: 1px solid #e5ecfe;
  background-color: #e6e6ff;
}


.tabela-container::-webkit-scrollbar {
  width: 12px;
}

.tabela-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

.tabela-container::-webkit-scrollbar-thumb {
  background-color: #7bbde8;
  border-radius: 8px;
  border: 2px solid #f1f1f1;
}

.tabela-container::-webkit-scrollbar-thumb:hover {
  background-color: #5ca9da;
}


.relatorio-tabela {
  width: 100%;
  border-collapse: collapse;
}

.relatorio-tabela th,
.relatorio-tabela td {
  padding: 12px;
  text-align: center;
  border: 1px solid #e5ecfe;
}

.relatorio-tabela th {
  background-color: #7bbde8;
  color: #fff;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 1;
}

.relatorio-tabela tbody tr:nth-child(even) {
  background-color: #d8d8d8;
}

.relatorio-tabela tbody tr:nth-child(odd) {
  background-color: #c7c7c7;
}

.status-retirada {
  color: #ff8c00;
  font-weight: bold;
}

.status-devolvido {
  color: #28a745;
  font-weight: bold;
}

.status-pendente {
  color: #dc3545;
  font-weight: bold;
}


.footer {
  background-color: #7bbde8;
  color: white;
  text-align: center;
  padding: 5px 0;
  font-size: 13px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}